1.Write a python program to display all the header tags from wikipedia.org.

In [28]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [29]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame

In [30]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


# Downloading imdb top 250 movie's data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
		for b in soup.select('td.posterColumn span[name=ir]')]




# create a empty list for storing
# movie information
list = []

# Iterating over movies to extract
# each movie's details
for index in range(0, len(movies)):
	
	# Separating movie into: 'place',
	# 'title', 'year'
	movie_string = movies[index].get_text()
	movie = (' '.join(movie_string.split()).replace('.', ''))
	movie_title = movie[len(str(index))+1:-7]
	year = re.search('\((.*?)\)', movie_string).group(1)
	place = movie[:len(str(index))-(len(movie))]
	data = {"place": place,
			"movie_title": movie_title,
			"rating": ratings[index],
			"year": year,
			"star_cast": crew[index],
			}
	list.append(data)

# printing movie details with its rating.
for movie in list:
	print(movie['place'], '-', movie['movie_title'], '('+movie['year'] +
		') -', 'Starring:', movie['star_cast'], movie['rating'])


##.......##
df = pd.DataFrame(list)
df.to_csv('imdb_top_250_movies.csv',index=False)

1 - The Shawshank Redemption (1994) - Starring: Frank Darabont (dir.), Tim Robbins, Morgan Freeman 9.234554114870337
2 - The Godfather (1972) - Starring: Francis Ford Coppola (dir.), Marlon Brando, Al Pacino 9.156460875388348
3 - The Dark Knight (2008) - Starring: Christopher Nolan (dir.), Christian Bale, Heath Ledger 8.986905027589243
4 - The Godfather Part II (1974) - Starring: Francis Ford Coppola (dir.), Al Pacino, Robert De Niro 8.984650825816745
5 - 12 Angry Men (1957) - Starring: Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb 8.949037563706293
6 - Schindler's List (1993) - Starring: Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes 8.936070507350488
7 - The Lord of the Rings: The Return of the King (2003) - Starring: Peter Jackson (dir.), Elijah Wood, Viggo Mortensen 8.922752834611202
8 - Pulp Fiction (1994) - Starring: Quentin Tarantino (dir.), John Travolta, Uma Thurman 8.850078430201929
9 - The Lord of the Rings: The Fellowship of the Ring (2001) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen 8.804677895223106
1 -  Il buono, il brutto, il cattivo (1966) - Starring: Sergio Leone (dir.), Clint Eastwood, Eli Wallach 8.793122381456739
11 - Forrest Gump (1994) - Starring: Robert Zemeckis (dir.), Tom Hanks, Robin Wright 8.767610474121748
12 - Fight Club (1999) - Starring: David Fincher (dir.), Brad Pitt, Edward Norton 8.749473275839364
13 - Inception (2010) - Starring: Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt 8.73295830567383
14 - The Lord of the Rings: The Two Towers (2002) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen 8.729138904396205
15 - The Empire Strikes Back (1980) - Starring: Irvin Kershner (dir.), Mark Hamill, Harrison Ford 8.701520903363106
16 - The Matrix (1999) - Starring: Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne 8.670753412990482
17 - Goodfellas (1990) - Starring: Martin Scorsese (dir.), Robert De Niro, Ray Liotta 8.652392550233557
18 - One Flew Over the Cuckoo's Nest (1975) - Starring: Milos Forman (dir.), Jack Nicholson, Louise Fletcher 8.640673835305162
19 - Se7en (1995) - Starring: David Fincher (dir.), Morgan Freeman, Brad Pitt 8.604313342528949
20 - Shichinin no samurai (1954) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura 8.599452950400861
21 - It's a Wonderful Life (1946) - Starring: Frank Capra (dir.), James Stewart, Donna Reed 8.597104485166806
22 - The Silence of the Lambs (1991) - Starring: Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins 8.58830914392323
23 - Cidade de Deus (2002) - Starring: Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino 8.579015314766323
24 - Saving Private Ryan (1998) - Starring: Steven Spielberg (dir.), Tom Hanks, Matt Damon 8.578344408886379
25 - La vita è bella (1997) - Starring: Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi 8.566391230169236
26 - The Green Mile (1999) - Starring: Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan 8.560584922242503
27 - Interstellar (2014) - Starring: Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway 8.558395957481526
28 - Star Wars (1977) - Starring: George Lucas (dir.), Mark Hamill, Harrison Ford 8.553424848373497
29 - Terminator 2: Judgment Day (1991) - Starring: James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton 8.536021331287804
30 - Back to the Future (1985) - Starring: Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd 8.518238886008481
31 - Sen to Chihiro no kamikakushi (2001) - Starring: Hayao Miyazaki (dir.), Daveigh Chase, Suzanne Pleshette 8.515278868828116
32 - Psycho (1960) - Starring: Alfred Hitchcock (dir.), Anthony Perkins, Janet Leigh 8.508532965139295
33 - The Pianist (2002) - Starring: Roman Polanski (dir.), Adrien Brody, Thomas Kretschmann 8.505236524768394
34 - Léon (1994) - Starring: Luc Besson (dir.), Jean Reno, Gary Oldman 8.499283160595244
35 - Gisaengchung (2019) - Starring: Bong Joon Ho (dir.), Song Kang-ho, Sun-kyun Lee 8.49579754736984
36 - The Lion King (1994) - Starring: Roger Allers (dir.), Matthew Broderick, Jeremy Irons 8.488571875000675
37 - Gladiator (2000) - Starring: Ridley Scott (dir.), Russell Crowe, Joaquin Phoenix 8.486207400950397
38 - American History X (1998) - Starring: Tony Kaye (dir.), Edward Norton, Edward Furlong 8.484067756200568
39 - The Departed (2006) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Matt Damon 8.47559413588372
40 - The Usual Suspects (1995) - Starring: Bryan Singer (dir.), Kevin Spacey, Gabriel Byrne 8.47524762506853
41 - The Prestige (2006) - Starring: Christopher Nolan (dir.), Christian Bale, Hugh Jackman 8.468419178045927
42 - Casablanca (1942) - Starring: Michael Curtiz (dir.), Humphrey Bogart, Ingrid Bergman 8.464980234037457
43 - Whiplash (2014) - Starring: Damien Chazelle (dir.), Miles Teller, J.K. Simmons 8.461708598796434
44 - The Intouchables (2011) - Starring: Olivier Nakache (dir.), François Cluzet, Omar Sy 8.453660970145224
45 - Seppuku (1962) - Starring: Masaki Kobayashi (dir.), Tatsuya Nakadai, Akira Ishihama 8.450534727826271
46 - Hotaru no haka (1988) - Starring: Isao Takahata (dir.), Tsutomu Tatsumi, Ayano Shiraishi 8.449892871349814
47 - Modern Times (1936) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard 8.449691344829072
48 - Once Upon a Time in the West (1968) - Starring: Sergio Leone (dir.), Henry Fonda, Charles Bronson 8.447305965119542
49 - Top Gun: Maverick (2022) - Starring: Joseph Kosinski (dir.), Tom Cruise, Jennifer Connelly 8.443230544168259
50 - Rear Window (1954) - Starring: Alfred Hitchcock (dir.), James Stewart, Grace Kelly 8.437338913467649
51 - Alien (1979) - Starring: Ridley Scott (dir.), Sigourney Weaver, Tom Skerritt 8.435187503858456
52 - City Lights (1931) - Starring: Charles Chaplin (dir.), Charles Chaplin, Virginia Cherrill 8.434793097349202
53 - Nuovo Cinema Paradiso (1988) - Starring: Giuseppe Tornatore (dir.), Philippe Noiret, Enzo Cannavale 8.430783350344756
54 - Apocalypse Now (1979) - Starring: Francis Ford Coppola (dir.), Martin Sheen, Marlon Brando 8.42496761484278
55 - Memento (2000) - Starring: Christopher Nolan (dir.), Guy Pearce, Carrie-Anne Moss 8.424953722984679
56 - Raiders of the Lost Ark (1981) - Starring: Steven Spielberg (dir.), Harrison Ford, Karen Allen 8.411279628279297
57 - Django Unchained (2012) - Starring: Quentin Tarantino (dir.), Jamie Foxx, Christoph Waltz 8.40372761457286
58 - WALL·E (2008) - Starring: Andrew Stanton (dir.), Ben Burtt, Elissa Knight 8.39313826195838
59 - The Lives of Others (2006) - Starring: Florian Henckel von Donnersmarck (dir.), Ulrich Mühe, Martina Gedeck 8.38628886850773
60 - Sunset Blvd (1950) - Starring: Billy Wilder (dir.), William Holden, Gloria Swanson 8.383108466832025
61 - Paths of Glory (1957) - Starring: Stanley Kubrick (dir.), Kirk Douglas, Ralph Meeker 8.371622056034509
62 - The Shining (1980) - Starring: Stanley Kubrick (dir.), Jack Nicholson, Shelley Duvall 8.36733116873256
63 - The Great Dictator (1940) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard 8.366375176396794
64 - Witness for the Prosecution (1957) - Starring: Billy Wilder (dir.), Tyrone Power, Marlene Dietrich 8.359587886731871
65 - Avengers: Infinity War (2018) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Hemsworth 8.357540258363397
66 - Aliens (1986) - Starring: James Cameron (dir.), Sigourney Weaver, Michael Biehn 8.344835453243343
67 - American Beauty (1999) - Starring: Sam Mendes (dir.), Kevin Spacey, Annette Bening 8.33650733253916
68 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - Starring: Stanley Kubrick (dir.), Peter Sellers, George C. Scott 8.332747594565179
69 - Spider-Man: Into the Spider-Verse (2018) - Starring: Bob Persichetti (dir.), Shameik Moore, Jake Johnson 8.330074314726017
70 - The Dark Knight Rises (2012) - Starring: Christopher Nolan (dir.), Christian Bale, Tom Hardy 8.328307749689612
71 - Oldeuboi (2003) - Starring: Park Chan-wook (dir.), Choi Min-sik, Yoo Ji-tae 8.319852871413161
72 - Joker (2019) - Starring: Todd Phillips (dir.), Joaquin Phoenix, Robert De Niro 8.318272940191603
73 - Amadeus (1984) - Starring: Milos Forman (dir.), F. Murray Abraham, Tom Hulce 8.315865206897884
74 - Braveheart (1995) - Starring: Mel Gibson (dir.), Mel Gibson, Sophie Marceau 8.315543570373139
75 - Toy Story (1995) - Starring: John Lasseter (dir.), Tom Hanks, Tim Allen 8.31510221279036
76 - Coco (2017) - Starring: Lee Unkrich (dir.), Anthony Gonzalez, Gael García Bernal 8.312886195584605
77 - Das Boot (1981) - Starring: Wolfgang Petersen (dir.), Jürgen Prochnow, Herbert Grönemeyer 8.312742419721618
78 - Inglourious Basterds (2009) - Starring: Quentin Tarantino (dir.), Brad Pitt, Diane Kruger 8.312294080314336
79 - Mononoke-hime (1997) - Starring: Hayao Miyazaki (dir.), Yôji Matsuda, Yuriko Ishida 8.303529906951583
80 - Avengers: Endgame (2019) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Evans 8.301579700756937
81 - Once Upon a Time in America (1984) - Starring: Sergio Leone (dir.), Robert De Niro, James Woods 8.298954404829594
82 - Good Will Hunting (1997) - Starring: Gus Van Sant (dir.), Robin Williams, Matt Damon 8.287598099521901
83 - Kimi no na wa (2016) - Starring: Makoto Shinkai (dir.), Ryûnosuke Kamiki, Mone Kamishiraishi 8.27694868183487
84 - Requiem for a Dream (2000) - Starring: Darren Aronofsky (dir.), Ellen Burstyn, Jared Leto 8.276129145114638
85 - Toy Story 3 (2010) - Starring: Lee Unkrich (dir.), Tom Hanks, Tim Allen 8.276107785267339
86 - Singin' in the Rain (1952) - Starring: Stanley Donen (dir.), Gene Kelly, Donald O'Connor 8.274134426243227
87 - 3 Idiots (2009) - Starring: Rajkumar Hirani (dir.), Aamir Khan, Madhavan 8.27059627353122
88 - Star Wars: Episode VI - Return of the Jedi (1983) - Starring: Richard Marquand (dir.), Mark Hamill, Harrison Ford 8.267543732243672
89 - Tengoku to jigoku (1963) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Yutaka Sada 8.265226520719203
90 - 2001: A Space Odyssey (1968) - Starring: Stanley Kubrick (dir.), Keir Dullea, Gary Lockwood 8.264398150843776
91 - Eternal Sunshine of the Spotless Mind (2004) - Starring: Michel Gondry (dir.), Jim Carrey, Kate Winslet 8.263800426862854
92 - Reservoir Dogs (1992) - Starring: Quentin Tarantino (dir.), Harvey Keitel, Tim Roth 8.263559828714232
93 - Capharnaüm (2018) - Starring: Nadine Labaki (dir.), Zain Al Rafeea, Yordanos Shiferaw 8.259522112547392
94 - Lawrence of Arabia (1962) - Starring: David Lean (dir.), Peter O'Toole, Alec Guinness 8.256901840229311
95 - Citizen Kane (1941) - Starring: Orson Welles (dir.), Orson Welles, Joseph Cotten 8.256801994710914
96 - Jagten (2012) - Starring: Thomas Vinterberg (dir.), Mads Mikkelsen, Thomas Bo Larsen 8.25556977143149
97 - M - Eine Stadt sucht einen Mörder (1931) - Starring: Fritz Lang (dir.), Peter Lorre, Ellen Widmann 8.25465443123642
98 - North by Northwest (1959) - Starring: Alfred Hitchcock (dir.), Cary Grant, Eva Marie Saint 8.252888587947904
99 - Vertigo (1958) - Starring: Alfred Hitchcock (dir.), James Stewart, Kim Novak 8.24721657532736
10 -  Idi i smotri (1985) - Starring: Elem Klimov (dir.), Aleksey Kravchenko, Olga Mironova 8.246789075738741
101 - Le fabuleux destin d'Amélie Poulain (2001) - Starring: Jean-Pierre Jeunet (dir.), Audrey Tautou, Mathieu Kassovitz 8.244819162874853
102 - A Clockwork Orange (1971) - Starring: Stanley Kubrick (dir.), Malcolm McDowell, Patrick Magee 8.243682580089366
103 - Full Metal Jacket (1987) - Starring: Stanley Kubrick (dir.), Matthew Modine, R. Lee Ermey 8.239719977845677
104 - Double Indemnity (1944) - Starring: Billy Wilder (dir.), Fred MacMurray, Barbara Stanwyck 8.239707903755233
105 - The Apartment (1960) - Starring: Billy Wilder (dir.), Jack Lemmon, Shirley MacLaine 8.238802464804072
106 - Scarface (1983) - Starring: Brian De Palma (dir.), Al Pacino, Michelle Pfeiffer 8.23554300970832
107 - Ikiru (1952) - Starring: Akira Kurosawa (dir.), Takashi Shimura, Nobuo Kaneko 8.235144138448641
108 - The Sting (1973) - Starring: George Roy Hill (dir.), Paul Newman, Robert Redford 8.229439472549128
109 - To Kill a Mockingbird (1962) - Starring: Robert Mulligan (dir.), Gregory Peck, John Megna 8.22883744498394
110 - Taxi Driver (1976) - Starring: Martin Scorsese (dir.), Robert De Niro, Jodie Foster 8.226486648627887
111 - Up (2009) - Starring: Pete Docter (dir.), Edward Asner, Jordan Nagai 8.224621239227659
112 - Heat (1995) - Starring: Michael Mann (dir.), Al Pacino, Robert De Niro 8.22411159079878
113 - LA Confidential (1997) - Starring: Curtis Hanson (dir.), Kevin Spacey, Russell Crowe 8.223746976008105
114 - Metropolis (1927) - Starring: Fritz Lang (dir.), Brigitte Helm, Alfred Abel 8.222032741651697
115 - Jodaeiye Nader az Simin (2011) - Starring: Asghar Farhadi (dir.), Payman Maadi, Leila Hatami 8.220978756190467
116 - Incendies (2010) - Starring: Denis Villeneuve (dir.), Lubna Azabal, Mélissa Désormeaux-Poulin 8.220849004416362
117 - Die Hard (1988) - Starring: John McTiernan (dir.), Bruce Willis, Alan Rickman 8.220217153496975
118 - Snatch (2000) - Starring: Guy Ritchie (dir.), Jason Statham, Brad Pitt 8.220058864037272
119 - Hamilton (2020) - Starring: Thomas Kail (dir.), Lin-Manuel Miranda, Phillipa Soo 8.21897407753504
120 - Ladri di biciclette (1948) - Starring: Vittorio De Sica (dir.), Lamberto Maggiorani, Enzo Staiola 8.218560142661941
121 - Indiana Jones and the Last Crusade (1989) - Starring: Steven Spielberg (dir.), Harrison Ford, Sean Connery 8.218554371109322
122 - 1917 (2019) - Starring: Sam Mendes (dir.), Dean-Charles Chapman, George MacKay 8.211799000815795
123 - Taare Zameen Par (2007) - Starring: Aamir Khan (dir.), Darsheel Safary, Aamir Khan 8.207814030637833
124 - Der Untergang (2004) - Starring: Oliver Hirschbiegel (dir.), Bruno Ganz, Alexandra Maria Lara 8.204953143782978
125 - Per qualche dollaro in più (1965) - Starring: Sergio Leone (dir.), Clint Eastwood, Lee Van Cleef 8.203157116744906
126 - Batman Begins (2005) - Starring: Christopher Nolan (dir.), Christian Bale, Michael Caine 8.201589079541046
127 - Dangal (2016) - Starring: Nitesh Tiwari (dir.), Aamir Khan, Sakshi Tanwar 8.199413478993634
128 - The Kid (1921) - Starring: Charles Chaplin (dir.), Charles Chaplin, Edna Purviance 8.195073562498958
129 - Some Like It Hot (1959) - Starring: Billy Wilder (dir.), Marilyn Monroe, Tony Curtis 8.192446328473563
130 - All About Eve (1950) - Starring: Joseph L. Mankiewicz (dir.), Bette Davis, Anne Baxter 8.181606927940082
131 - Spider-Man: No Way Home (2021) - Starring: Jon Watts (dir.), Tom Holland, Zendaya 8.181562591502193
132 - The Father (2020) - Starring: Florian Zeller (dir.), Anthony Hopkins, Olivia Colman 8.18123312225575
133 - Green Book (2018) - Starring: Peter Farrelly (dir.), Viggo Mortensen, Mahershala Ali 8.174776957454606
134 - The Wolf of Wall Street (2013) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Jonah Hill 8.17293611083417
135 - Judgment at Nuremberg (1961) - Starring: Stanley Kramer (dir.), Spencer Tracy, Burt Lancaster 8.170508867852813
136 - Ran (1985) - Starring: Akira Kurosawa (dir.), Tatsuya Nakadai, Akira Terao 8.165995435327849
137 - Casino (1995) - Starring: Martin Scorsese (dir.), Robert De Niro, Sharon Stone 8.164129061007074
138 - Unforgiven (1992) - Starring: Clint Eastwood (dir.), Clint Eastwood, Gene Hackman 8.164104592512546
139 - Pan's Labyrinth (2006) - Starring: Guillermo del Toro (dir.), Ivana Baquero, Ariadna Gil 8.16284364269553
140 - There Will Be Blood (2007) - Starring: Paul Thomas Anderson (dir.), Daniel Day-Lewis, Paul Dano 8.156181281179549
141 - The Sixth Sense (1999) - Starring: M. Night Shyamalan (dir.), Bruce Willis, Haley Joel Osment 8.154084951144036
142 - The Truman Show (1998) - Starring: Peter Weir (dir.), Jim Carrey, Ed Harris 8.153461431440666
143 - A Beautiful Mind (2001) - Starring: Ron Howard (dir.), Russell Crowe, Ed Harris 8.152844616475697
144 - Monty Python and the Holy Grail (1975) - Starring: Terry Gilliam (dir.), Graham Chapman, John Cleese 8.151389277732465
145 - Yôjinbô (1961) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Eijirô Tôno 8.150185286064414
146 - The Treasure of the Sierra Madre (1948) - Starring: John Huston (dir.), Humphrey Bogart, Walter Huston 8.149396237515198
147 - Shutter Island (2010) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Emily Mortimer 8.14489913859024
148 - Jurassic Park (1993) - Starring: Steven Spielberg (dir.), Sam Neill, Laura Dern 8.144274211019095
149 - Rashômon (1950) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Machiko Kyô 8.142954369530836
150 - The Great Escape (1963) - Starring: John Sturges (dir.), Steve McQueen, James Garner 8.14291453168099
151 - Kill Bill: Vol 1 (2003) - Starring: Quentin Tarantino (dir.), Uma Thurman, David Carradine 8.137734190730546
152 - No Country for Old Men (2007) - Starring: Ethan Coen (dir.), Tommy Lee Jones, Javier Bardem 8.136652765615667
153 - Finding Nemo (2003) - Starring: Andrew Stanton (dir.), Albert Brooks, Ellen DeGeneres 8.131552553336212
154 - The Elephant Man (1980) - Starring: David Lynch (dir.), Anthony Hopkins, John Hurt 8.130859793848874
155 - Chinatown (1974) - Starring: Roman Polanski (dir.), Jack Nicholson, Faye Dunaway 8.129827739806712
156 - Raging Bull (1980) - Starring: Martin Scorsese (dir.), Robert De Niro, Cathy Moriarty 8.12951980708826
157 - The Thing (1982) - Starring: John Carpenter (dir.), Kurt Russell, Wilford Brimley 8.126875318013486
158 - Gone with the Wind (1939) - Starring: Victor Fleming (dir.), Clark Gable, Vivien Leigh 8.12682233798184
159 - V for Vendetta (2006) - Starring: James McTeigue (dir.), Hugo Weaving, Natalie Portman 8.125461664393427
160 - Inside Out (2015) - Starring: Pete Docter (dir.), Amy Poehler, Bill Hader 8.123763438699102
161 - Lock, Stock and Two Smoking Barrels (1998) - Starring: Guy Ritchie (dir.), Jason Flemyng, Dexter Fletcher 8.122961170615257
162 - Dial M for Murder (1954) - Starring: Alfred Hitchcock (dir.), Ray Milland, Grace Kelly 8.120402845271329
163 - El secreto de sus ojos (2009) - Starring: Juan José Campanella (dir.), Ricardo Darín, Soledad Villamil 8.118167753785752
164 - Hauru no ugoku shiro (2004) - Starring: Hayao Miyazaki (dir.), Chieko Baishô, Takuya Kimura 8.114825222487031
165 - The Bridge on the River Kwai (1957) - Starring: David Lean (dir.), William Holden, Alec Guinness 8.114302680315424
166 - Three Billboards Outside Ebbing, Missouri (2017) - Starring: Martin McDonagh (dir.), Frances McDormand, Woody Harrelson 8.111360049444558
167 - Trainspotting (1996) - Starring: Danny Boyle (dir.), Ewan McGregor, Ewen Bremner 8.111237971464549
168 - Warrior (2011) - Starring: Gavin O'Connor (dir.), Tom Hardy, Nick Nolte 8.104626730184926
169 - Gran Torino (2008) - Starring: Clint Eastwood (dir.), Clint Eastwood, Bee Vang 8.10450946682918
170 - Fargo (1996) - Starring: Joel Coen (dir.), William H. Macy, Frances McDormand 8.103305765725649
171 - Everything Everywhere All at Once (2022) - Starring: Dan Kwan (dir.), Michelle Yeoh, Stephanie Hsu 8.102290268642854
172 - Prisoners (2013) - Starring: Denis Villeneuve (dir.), Hugh Jackman, Jake Gyllenhaal 8.097195569026997
173 - Tonari no Totoro (1988) - Starring: Hayao Miyazaki (dir.), Hitoshi Takagi, Noriko Hidaka 8.094767019002985
174 - Million Dollar Baby (2004) - Starring: Clint Eastwood (dir.), Hilary Swank, Clint Eastwood 8.089872582989303
175 - The Gold Rush (1925) - Starring: Charles Chaplin (dir.), Charles Chaplin, Mack Swain 8.087990777323348
176 - Catch Me If You Can (2002) - Starring: Steven Spielberg (dir.), Leonardo DiCaprio, Tom Hanks 8.087364165554996
177 - Blade Runner (1982) - Starring: Ridley Scott (dir.), Harrison Ford, Rutger Hauer 8.086054873693907
178 - On the Waterfront (1954) - Starring: Elia Kazan (dir.), Marlon Brando, Karl Malden 8.084676268787083
179 - Bacheha-Ye aseman (1997) - Starring: Majid Majidi (dir.), Mohammad Amir Naji, Amir Farrokh Hashemian 8.082743538779528

248 - Gandhi (1982) - Starring: Richard Attenborough (dir.), Ben Kingsley, John Gielgud 8.006316702968856
249 - The Help (2011) - Starring: Tate Taylor (dir.), Emma Stone, Viola Davis 8.005047418076611
250 - The Iron Giant (1999) - Starring: Brad Bird (dir.), Eli Marienthal, Harry Connick Jr. 8.002338348610376

3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [31]:
#https://bit.ly/2NyxdAG
from bs4 import BeautifulSoup
import requests
import re

# Download IMDB's Top 250 data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, len(movies)):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    imdb.append(data)

for item in imdb:
    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Starring:', item['star_cast'])

1 - The Shawshank Redemption (1994) - Starring: Frank Darabont (dir.), Tim Robbins, Morgan Freeman
2 - The Godfather (1972) - Starring: Francis Ford Coppola (dir.), Marlon Brando, Al Pacino
3 - The Dark Knight (2008) - Starring: Christopher Nolan (dir.), Christian Bale, Heath Ledger
4 - The Godfather Part II (1974) - Starring: Francis Ford Coppola (dir.), Al Pacino, Robert De Niro
5 - 12 Angry Men (1957) - Starring: Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb
6 - Schindler's List (1993) - Starring: Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes
7 - The Lord of the Rings: The Return of the King (2003) - Starring: Peter Jackson (dir.), Elijah Wood, Viggo Mortensen
8 - Pulp Fiction (1994) - Starring: Quentin Tarantino (dir.), John Travolta, Uma Thurman
9 - The Lord of the Rings: The Fellowship of the Ring (2001) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen
1 -  Il buono, il brutto, il cattivo (1966) - Starring: Sergio Leone (dir.), Clint Eastwood, Eli Wallach
11 - Forrest Gump (1994) - Starring: Robert Zemeckis (dir.), Tom Hanks, Robin Wright
12 - Fight Club (1999) - Starring: David Fincher (dir.), Brad Pitt, Edward Norton
13 - Inception (2010) - Starring: Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt
14 - The Lord of the Rings: The Two Towers (2002) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen
15 - The Empire Strikes Back (1980) - Starring: Irvin Kershner (dir.), Mark Hamill, Harrison Ford
16 - The Matrix (1999) - Starring: Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne
17 - Goodfellas (1990) - Starring: Martin Scorsese (dir.), Robert De Niro, Ray Liotta
18 - One Flew Over the Cuckoo's Nest (1975) - Starring: Milos Forman (dir.), Jack Nicholson, Louise Fletcher
19 - Se7en (1995) - Starring: David Fincher (dir.), Morgan Freeman, Brad Pitt
20 - Shichinin no samurai (1954) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura
21 - It's a Wonderful Life (1946) - Starring: Frank Capra (dir.), James Stewart, Donna Reed
22 - The Silence of the Lambs (1991) - Starring: Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins
23 - Cidade de Deus (2002) - Starring: Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino
24 - Saving Private Ryan (1998) - Starring: Steven Spielberg (dir.), Tom Hanks, Matt Damon
25 - La vita è bella (1997) - Starring: Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi
26 - The Green Mile (1999) - Starring: Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan
27 - Interstellar (2014) - Starring: Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway
28 - Star Wars (1977) - Starring: George Lucas (dir.), Mark Hamill, Harrison Ford
29 - Terminator 2: Judgment Day (1991) - Starring: James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton
30 - Back to the Future (1985) - Starring: Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd
31 - Sen to Chihiro no kamikakushi (2001) - Starring: Hayao Miyazaki (dir.), Daveigh Chase, Suzanne Pleshette
32 - Psycho (1960) - Starring: Alfred Hitchcock (dir.), Anthony Perkins, Janet Leigh
33 - The Pianist (2002) - Starring: Roman Polanski (dir.), Adrien Brody, Thomas Kretschmann
34 - Léon (1994) - Starring: Luc Besson (dir.), Jean Reno, Gary Oldman
35 - Gisaengchung (2019) - Starring: Bong Joon Ho (dir.), Song Kang-ho, Sun-kyun Lee
36 - The Lion King (1994) - Starring: Roger Allers (dir.), Matthew Broderick, Jeremy Irons
37 - Gladiator (2000) - Starring: Ridley Scott (dir.), Russell Crowe, Joaquin Phoenix
38 - American History X (1998) - Starring: Tony Kaye (dir.), Edward Norton, Edward Furlong
39 - The Departed (2006) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Matt Damon
40 - The Usual Suspects (1995) - Starring: Bryan Singer (dir.), Kevin Spacey, Gabriel Byrne
41 - The Prestige (2006) - Starring: Christopher Nolan (dir.), Christian Bale, Hugh Jackman
42 - Casablanca (1942) - Starring: Michael Curtiz (dir.), Humphrey Bogart, Ingrid Bergman
43 - Whiplash (2014) - Starring: Damien Chazelle (dir.), Miles Teller, J.K. Simmons
44 - The Intouchables (2011) - Starring: Olivier Nakache (dir.), François Cluzet, Omar Sy
45 - Seppuku (1962) - Starring: Masaki Kobayashi (dir.), Tatsuya Nakadai, Akira Ishihama
46 - Hotaru no haka (1988) - Starring: Isao Takahata (dir.), Tsutomu Tatsumi, Ayano Shiraishi
47 - Modern Times (1936) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard
48 - Once Upon a Time in the West (1968) - Starring: Sergio Leone (dir.), Henry Fonda, Charles Bronson
49 - Top Gun: Maverick (2022) - Starring: Joseph Kosinski (dir.), Tom Cruise, Jennifer Connelly
50 - Rear Window (1954) - Starring: Alfred Hitchcock (dir.), James Stewart, Grace Kelly
51 - Alien (1979) - Starring: Ridley Scott (dir.), Sigourney Weaver, Tom Skerritt
52 - City Lights (1931) - Starring: Charles Chaplin (dir.), Charles Chaplin, Virginia Cherrill
53 - Nuovo Cinema Paradiso (1988) - Starring: Giuseppe Tornatore (dir.), Philippe Noiret, Enzo Cannavale
54 - Apocalypse Now (1979) - Starring: Francis Ford Coppola (dir.), Martin Sheen, Marlon Brando
55 - Memento (2000) - Starring: Christopher Nolan (dir.), Guy Pearce, Carrie-Anne Moss
56 - Raiders of the Lost Ark (1981) - Starring: Steven Spielberg (dir.), Harrison Ford, Karen Allen
57 - Django Unchained (2012) - Starring: Quentin Tarantino (dir.), Jamie Foxx, Christoph Waltz
58 - WALL·E (2008) - Starring: Andrew Stanton (dir.), Ben Burtt, Elissa Knight
59 - The Lives of Others (2006) - Starring: Florian Henckel von Donnersmarck (dir.), Ulrich Mühe, Martina Gedeck
60 - Sunset Blvd (1950) - Starring: Billy Wilder (dir.), William Holden, Gloria Swanson
61 - Paths of Glory (1957) - Starring: Stanley Kubrick (dir.), Kirk Douglas, Ralph Meeker
62 - The Shining (1980) - Starring: Stanley Kubrick (dir.), Jack Nicholson, Shelley Duvall
63 - The Great Dictator (1940) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard
64 - Witness for the Prosecution (1957) - Starring: Billy Wilder (dir.), Tyrone Power, Marlene Dietrich
65 - Avengers: Infinity War (2018) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Hemsworth
66 - Aliens (1986) - Starring: James Cameron (dir.), Sigourney Weaver, Michael Biehn
67 - American Beauty (1999) - Starring: Sam Mendes (dir.), Kevin Spacey, Annette Bening
68 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - Starring: Stanley Kubrick (dir.), Peter Sellers, George C. Scott
69 - Spider-Man: Into the Spider-Verse (2018) - Starring: Bob Persichetti (dir.), Shameik Moore, Jake Johnson
70 - The Dark Knight Rises (2012) - Starring: Christopher Nolan (dir.), Christian Bale, Tom Hardy
71 - Oldeuboi (2003) - Starring: Park Chan-wook (dir.), Choi Min-sik, Yoo Ji-tae
72 - Joker (2019) - Starring: Todd Phillips (dir.), Joaquin Phoenix, Robert De Niro
73 - Amadeus (1984) - Starring: Milos Forman (dir.), F. Murray Abraham, Tom Hulce
74 - Braveheart (1995) - Starring: Mel Gibson (dir.), Mel Gibson, Sophie Marceau
75 - Toy Story (1995) - Starring: John Lasseter (dir.), Tom Hanks, Tim Allen
76 - Coco (2017) - Starring: Lee Unkrich (dir.), Anthony Gonzalez, Gael García Bernal
77 - Das Boot (1981) - Starring: Wolfgang Petersen (dir.), Jürgen Prochnow, Herbert Grönemeyer
78 - Inglourious Basterds (2009) - Starring: Quentin Tarantino (dir.), Brad Pitt, Diane Kruger
79 - Mononoke-hime (1997) - Starring: Hayao Miyazaki (dir.), Yôji Matsuda, Yuriko Ishida
80 - Avengers: Endgame (2019) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Evans
81 - Once Upon a Time in America (1984) - Starring: Sergio Leone (dir.), Robert De Niro, James Woods
82 - Good Will Hunting (1997) - Starring: Gus Van Sant (dir.), Robin Williams, Matt Damon
83 - Kimi no na wa (2016) - Starring: Makoto Shinkai (dir.), Ryûnosuke Kamiki, Mone Kamishiraishi
84 - Requiem for a Dream (2000) - Starring: Darren Aronofsky (dir.), Ellen Burstyn, Jared Leto
85 - Toy Story 3 (2010) - Starring: Lee Unkrich (dir.), Tom Hanks, Tim Allen
86 - Singin' in the Rain (1952) - Starring: Stanley Donen (dir.), Gene Kelly, Donald O'Connor
87 - 3 Idiots (2009) - Starring: Rajkumar Hirani (dir.), Aamir Khan, Madhavan
88 - Star Wars: Episode VI - Return of the Jedi (1983) - Starring: Richard Marquand (dir.), Mark Hamill, Harrison Ford
89 - Tengoku to jigoku (1963) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Yutaka Sada
90 - 2001: A Space Odyssey (1968) - Starring: Stanley Kubrick (dir.), Keir Dullea, Gary Lockwood
91 - Eternal Sunshine of the Spotless Mind (2004) - Starring: Michel Gondry (dir.), Jim Carrey, Kate Winslet
92 - Reservoir Dogs (1992) - Starring: Quentin Tarantino (dir.), Harvey Keitel, Tim Roth
93 - Capharnaüm (2018) - Starring: Nadine Labaki (dir.), Zain Al Rafeea, Yordanos Shiferaw
94 - Lawrence of Arabia (1962) - Starring: David Lean (dir.), Peter O'Toole, Alec Guinness
95 - Citizen Kane (1941) - Starring: Orson Welles (dir.), Orson Welles, Joseph Cotten
96 - Jagten (2012) - Starring: Thomas Vinterberg (dir.), Mads Mikkelsen, Thomas Bo Larsen
97 - M - Eine Stadt sucht einen Mörder (1931) - Starring: Fritz Lang (dir.), Peter Lorre, Ellen Widmann
98 - North by Northwest (1959) - Starring: Alfred Hitchcock (dir.), Cary Grant, Eva Marie Saint
99 - Vertigo (1958) - Starring: Alfred Hitchcock (dir.), James Stewart, Kim Novak
10 -  Idi i smotri (1985) - Starring: Elem Klimov (dir.), Aleksey Kravchenko, Olga Mironova
101 - Le fabuleux destin d'Amélie Poulain (2001) - Starring: Jean-Pierre Jeunet (dir.), Audrey Tautou, Mathieu Kassovitz
102 - A Clockwork Orange (1971) - Starring: Stanley Kubrick (dir.), Malcolm McDowell, Patrick Magee
103 - Full Metal Jacket (1987) - Starring: Stanley Kubrick (dir.), Matthew Modine, R. Lee Ermey
104 - Double Indemnity (1944) - Starring: Billy Wilder (dir.), Fred MacMurray, Barbara Stanwyck
105 - The Apartment (1960) - Starring: Billy Wilder (dir.), Jack Lemmon, Shirley MacLaine
106 - Scarface (1983) - Starring: Brian De Palma (dir.), Al Pacino, Michelle Pfeiffer
107 - Ikiru (1952) - Starring: Akira Kurosawa (dir.), Takashi Shimura, Nobuo Kaneko
108 - The Sting (1973) - Starring: George Roy Hill (dir.), Paul Newman, Robert Redford
109 - To Kill a Mockingbird (1962) - Starring: Robert Mulligan (dir.), Gregory Peck, John Megna
110 - Taxi Driver (1976) - Starring: Martin Scorsese (dir.), Robert De Niro, Jodie Foster
111 - Up (2009) - Starring: Pete Docter (dir.), Edward Asner, Jordan Nagai
112 - Heat (1995) - Starring: Michael Mann (dir.), Al Pacino, Robert De Niro
113 - LA Confidential (1997) - Starring: Curtis Hanson (dir.), Kevin Spacey, Russell Crowe
114 - Metropolis (1927) - Starring: Fritz Lang (dir.), Brigitte Helm, Alfred Abel
115 - Jodaeiye Nader az Simin (2011) - Starring: Asghar Farhadi (dir.), Payman Maadi, Leila Hatami
116 - Incendies (2010) - Starring: Denis Villeneuve (dir.), Lubna Azabal, Mélissa Désormeaux-Poulin
117 - Die Hard (1988) - Starring: John McTiernan (dir.), Bruce Willis, Alan Rickman
118 - Snatch (2000) - Starring: Guy Ritchie (dir.), Jason Statham, Brad Pitt
119 - Hamilton (2020) - Starring: Thomas Kail (dir.), Lin-Manuel Miranda, Phillipa Soo
120 - Ladri di biciclette (1948) - Starring: Vittorio De Sica (dir.), Lamberto Maggiorani, Enzo Staiola
121 - Indiana Jones and the Last Crusade (1989) - Starring: Steven Spielberg (dir.), Harrison Ford, Sean Connery
122 - 1917 (2019) - Starring: Sam Mendes (dir.), Dean-Charles Chapman, George MacKay
123 - Taare Zameen Par (2007) - Starring: Aamir Khan (dir.), Darsheel Safary, Aamir Khan
124 - Der Untergang (2004) - Starring: Oliver Hirschbiegel (dir.), Bruno Ganz, Alexandra Maria Lara
125 - Per qualche dollaro in più (1965) - Starring: Sergio Leone (dir.), Clint Eastwood, Lee Van Cleef
126 - Batman Begins (2005) - Starring: Christopher Nolan (dir.), Christian Bale, Michael Caine
127 - Dangal (2016) - Starring: Nitesh Tiwari (dir.), Aamir Khan, Sakshi Tanwar
128 - The Kid (1921) - Starring: Charles Chaplin (dir.), Charles Chaplin, Edna Purviance
129 - Some Like It Hot (1959) - Starring: Billy Wilder (dir.), Marilyn Monroe, Tony Curtis
130 - All About Eve (1950) - Starring: Joseph L. Mankiewicz (dir.), Bette Davis, Anne Baxter
131 - Spider-Man: No Way Home (2021) - Starring: Jon Watts (dir.), Tom Holland, Zendaya
132 - The Father (2020) - Starring: Florian Zeller (dir.), Anthony Hopkins, Olivia Colman
133 - Green Book (2018) - Starring: Peter Farrelly (dir.), Viggo Mortensen, Mahershala Ali
134 - The Wolf of Wall Street (2013) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Jonah Hill
135 - Judgment at Nuremberg (1961) - Starring: Stanley Kramer (dir.), Spencer Tracy, Burt Lancaster
136 - Ran (1985) - Starring: Akira Kurosawa (dir.), Tatsuya Nakadai, Akira Terao
137 - Casino (1995) - Starring: Martin Scorsese (dir.), Robert De Niro, Sharon Stone
138 - Unforgiven (1992) - Starring: Clint Eastwood (dir.), Clint Eastwood, Gene Hackman
139 - Pan's Labyrinth (2006) - Starring: Guillermo del Toro (dir.), Ivana Baquero, Ariadna Gil
140 - There Will Be Blood (2007) - Starring: Paul Thomas Anderson (dir.), Daniel Day-Lewis, Paul Dano
141 - The Sixth Sense (1999) - Starring: M. Night Shyamalan (dir.), Bruce Willis, Haley Joel Osment
142 - The Truman Show (1998) - Starring: Peter Weir (dir.), Jim Carrey, Ed Harris
143 - A Beautiful Mind (2001) - Starring: Ron Howard (dir.), Russell Crowe, Ed Harris
144 - Monty Python and the Holy Grail (1975) - Starring: Terry Gilliam (dir.), Graham Chapman, John Cleese
145 - Yôjinbô (1961) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Eijirô Tôno
146 - The Treasure of the Sierra Madre (1948) - Starring: John Huston (dir.), Humphrey Bogart, Walter Huston
147 - Shutter Island (2010) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Emily Mortimer
148 - Jurassic Park (1993) - Starring: Steven Spielberg (dir.), Sam Neill, Laura Dern
149 - Rashômon (1950) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Machiko Kyô
150 - The Great Escape (1963) - Starring: John Sturges (dir.), Steve McQueen, James Garner
151 - Kill Bill: Vol 1 (2003) - Starring: Quentin Tarantino (dir.), Uma Thurman, David Carradine
152 - No Country for Old Men (2007) - Starring: Ethan Coen (dir.), Tommy Lee Jones, Javier Bardem
153 - Finding Nemo (2003) - Starring: Andrew Stanton (dir.), Albert Brooks, Ellen DeGeneres
154 - The Elephant Man (1980) - Starring: David Lynch (dir.), Anthony Hopkins, John Hurt
155 - Chinatown (1974) - Starring: Roman Polanski (dir.), Jack Nicholson, Faye Dunaway
156 - Raging Bull (1980) - Starring: Martin Scorsese (dir.), Robert De Niro, Cathy Moriarty
157 - The Thing (1982) - Starring: John Carpenter (dir.), Kurt Russell, Wilford Brimley
158 - Gone with the Wind (1939) - Starring: Victor Fleming (dir.), Clark Gable, Vivien Leigh
159 - V for Vendetta (2006) - Starring: James McTeigue (dir.), Hugo Weaving, Natalie Portman
160 - Inside Out (2015) - Starring: Pete Docter (dir.), Amy Poehler, Bill Hader
161 - Lock, Stock and Two Smoking Barrels (1998) - Starring: Guy Ritchie (dir.), Jason Flemyng, Dexter Fletcher
162 - Dial M for Murder (1954) - Starring: Alfred Hitchcock (dir.), Ray Milland, Grace Kelly
163 - El secreto de sus ojos (2009) - Starring: Juan José Campanella (dir.), Ricardo Darín, Soledad Villamil
164 - Hauru no ugoku shiro (2004) - Starring: Hayao Miyazaki (dir.), Chieko Baishô, Takuya Kimura
165 - The Bridge on the River Kwai (1957) - Starring: David Lean (dir.), William Holden, Alec Guinness
166 - Three Billboards Outside Ebbing, Missouri (2017) - Starring: Martin McDonagh (dir.), Frances McDormand, Woody Harrelson
167 - Trainspotting (1996) - Starring: Danny Boyle (dir.), Ewan McGregor, Ewen Bremner
168 - Warrior (2011) - Starring: Gavin O'Connor (dir.), Tom Hardy, Nick Nolte
169 - Gran Torino (2008) - Starring: Clint Eastwood (dir.), Clint Eastwood, Bee Vang
170 - Fargo (1996) - Starring: Joel Coen (dir.), William H. Macy, Frances McDormand
171 - Everything Everywhere All at Once (2022) - Starring: Dan Kwan (dir.), Michelle Yeoh, Stephanie Hsu
172 - Prisoners (2013) - Starring: Denis Villeneuve (dir.), Hugh Jackman, Jake Gyllenhaal
173 - Tonari no Totoro (1988) - Starring: Hayao Miyazaki (dir.), Hitoshi Takagi, Noriko Hidaka
174 - Million Dollar Baby (2004) - Starring: Clint Eastwood (dir.), Hilary Swank, Clint Eastwood
175 - The Gold Rush (1925) - Starring: Charles Chaplin (dir.), Charles Chaplin, Mack Swain
176 - Catch Me If You Can (2002) - Starring: Steven Spielberg (dir.), Leonardo DiCaprio, Tom Hanks
177 - Blade Runner (1982) - Starring: Ridley Scott (dir.), Harrison Ford, Rutger Hauer
178 - On the Waterfront (1954) - Starring: Elia Kazan (dir.), Marlon Brando, Karl Malden
179 - Bacheha-Ye aseman (1997) - Starring: Majid Majidi (dir.), Mohammad Amir Naji, Amir Farrokh Hashemian
180 - The Third Man (1949) - Starring: Carol Reed (dir.), Orson Welles, Joseph Cotten
181 - Ben-Hur (1959) - Starring: William Wyler (dir.), Charlton Heston, Jack Hawkins
182 - Before Sunrise (1995) - Starring: Richard Linklater (dir.), Ethan Hawke, Julie Delpy
183 - Smultronstället (1957) - Starring: Ingmar Bergman (dir.), Victor Sjöström, Bibi Andersson
184 - 12 Years a Slave (2013) - Starring: Steve McQueen (dir.), Chiwetel Ejiofor, Michael Kenneth Williams
185 - The General (1926) - Starring: Clyde Bruckman (dir.), Buster Keaton, Marion Mack
186 - Gone Girl (2014) - Starring: David Fincher (dir.), Ben Affleck, Rosamund Pike
187 - Harry Potter and the Deathly Hallows: Part 2 (2011) - Starring: David Yates (dir.), Daniel Radcliffe, Emma Watson
188 - The Deer Hunter (1978) - Starring: Michael Cimino (dir.), Robert De Niro, Christopher Walken
189 - In the Name of the Father (1993) - Starring: Jim Sheridan (dir.), Daniel Day-Lewis, Pete Postlethwaite
190 - The Grand Budapest Hotel (2014) - Starring: Wes Anderson (dir.), Ralph Fiennes, F. Murray Abraham
191 - Mr Smith Goes to Washington (1939) - Starring: Frank Capra (dir.), James Stewart, Jean Arthur
192 - Le salaire de la peur (1953) - Starring: Henri-Georges Clouzot (dir.), Yves Montand, Charles Vanel
193 - Barry Lyndon (1975) - Starring: Stanley Kubrick (dir.), Ryan O'Neal, Marisa Berenson
194 - Sherlock Jr (1924) - Starring: Buster Keaton (dir.), Buster Keaton, Kathryn McGuire
195 - Salinui chueok (2003) - Starring: Bong Joon Ho (dir.), Song Kang-ho, Kim Sang-kyung
196 - Hacksaw Ridge (2016) - Starring: Mel Gibson (dir.), Andrew Garfield, Sam Worthington
197 - Klaus (2019) - Starring: Sergio Pablos (dir.), Jason Schwartzman, J.K. Simmons
198 - Det sjunde inseglet (1957) - Starring: Ingmar Bergman (dir.), Max von Sydow, Gunnar Björnstrand
199 - Relatos salvajes (2014) - Starring: Damián Szifron (dir.), Darío Grandinetti, María Marull
200 - Room (2015) - Starring: Lenny Abrahamson (dir.), Brie Larson, Jacob Tremblay
201 - Mad Max: Fury Road (2015) - Starring: George Miller (dir.), Tom Hardy, Charlize Theron
202 - How to Train Your Dragon (2010) - Starring: Dean DeBlois (dir.), Jay Baruchel, Gerard Butler
203 - The Big Lebowski (1998) - Starring: Joel Coen (dir.), Jeff Bridges, John Goodman
204 - Mary and Max (2009) - Starring: Adam Elliot (dir.), Toni Collette, Philip Seymour Hoffman
205 - Monsters, Inc (2001) - Starring: Pete Docter (dir.), Billy Crystal, John Goodman
206 - Jaws (1975) - Starring: Steven Spielberg (dir.), Roy Scheider, Robert Shaw
207 - La passion de Jeanne d'Arc (1928) - Starring: Carl Theodor Dreyer (dir.), Maria Falconetti, Eugene Silvain
208 - Tôkyô monogatari (1953) - Starring: Yasujirô Ozu (dir.), Chishû Ryû, Chieko Higashiyama
209 - Dead Poets Society (1989) - Starring: Peter Weir (dir.), Robin Williams, Robert Sean Leonard
210 - Hotel Rwanda (2004) - Starring: Terry George (dir.), Don Cheadle, Sophie Okonedo
211 - Rocky (1976) - Starring: John G. Avildsen (dir.), Sylvester Stallone, Talia Shire
212 - Platoon (1986) - Starring: Oliver Stone (dir.), Charlie Sheen, Tom Berenger
213 - Ford v Ferrari (2019) - Starring: James Mangold (dir.), Matt Damon, Christian Bale

4.Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
from https://presidentofindia.nic.in/former-presidents.htm

In [32]:
# Python program to demonstrate
# Creation of List

# Creating a List
List = []
print("Blank List: ")
print(List)

# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)

# Creating a List of strings and accessing
# using index
List = ["shri ram nath kovind", "shri pranab mukherjee", "smt pratibha devisingh patil", "DR.A.P.J.ABDUL Kalam"]
print("\nList Items: ")
print(List[0])
print(List[2])

Blank List:
[]

List of numbers:
[10, 20, 14]

List Items:
shri ram nath kovind
smt pratibha devisingh patil

8.Write a python program to scrape the details of most downloaded articles from AI in last 90 days

In [39]:
AI_link = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

def AI_top_articles(link):
    AI_site_data = requests.get(link)
    AI_soup = BeautifulSoup(AI_site_data.content , "html.parser")
    scraped_titles = AI_soup.find_all("h2" , class_ = "sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR")
    titles = []
    for title in scraped_titles:
        title = title.get_text()
        titles.append(title)
    scraped_authors = AI_soup.find_all("span" , class_ = "sc-1w3fpd7-0 pgLAT")
    authors = []
    for author in scraped_authors:
        author = author.get_text()
        authors.append(author)
    scraped_dates = AI_soup.find_all("span" , class_ = "sc-1thf9ly-2 bKddwo")
    dates = []
    for date in scraped_dates:
        date = date.get_text()
        dates.append(date)
    scraped_links = AI_soup.find_all("li" , class_ = "sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp")
    links = []
    for link in scraped_links:
        link = link.find('a').get("href")
        links.append(link)
    AI_top_articles = pd.DataFrame()
    AI_top_articles["Paper Title"] = titles
    AI_top_articles['Authors'] = authors
    AI_top_articles["Publised Date"] = dates
    AI_top_articles["Paper URL"] = links
    
    return AI_top_articles

In [41]:
AI_top_articles(AI_link)

,Paper Title,Authors,Publised Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

7. Write a python program to scrape mentioned news details : i) Headline ii) Time iii) News Link

In [42]:
cnbc_link = "https://www.cnbc.com/world/?region=world"

def get_headlines(link):    
    cnbc_site_data = requests.get(link)
    cnbc_soup = BeautifulSoup(cnbc_site_data.content , "html.parser")
    scraped_headlines = cnbc_soup.find_all("div" , class_ = "RiverPlusCard-container")
    headlines = []
    for headline in scraped_headlines:
        headline = headline.get_text()
        headlines.append(headline)
    links = []
    for headline in scraped_headlines:
        headline = headline.find('a').get('href')
        links.append(headline)
    scraped_times = cnbc_soup.find_all("span" , class_ = "RiverByline-datePublished")
    times = []
    scraped_headline_rows = cnbc_soup.find_all("div" , class_ = "RiverPlusCard-container")
    for row in scraped_headline_rows:
        row = row.find("span" , class_ = "RiverByline-datePublished")
        if row == None:
            times.append("Not available")
        else: times.append(row.get_text())
    headline_data = pd.DataFrame()
    headline_data['Headline'] = headlines
    headline_data['Time posted'] = times
    headline_data['Link'] = links
    
    return(headline_data)

In [43]:
get_headlines(cnbc_link)

,Headline,Time posted,Link
0,Stock futures rise following S&P 500's third w...,29 min ago,https://www.cnbc.com/2022/08/07/stock-market-n...
1,"BlackRock: The era of steady growth has ended,...",Not available,/pro/
2,Hong Kong cuts hotel quarantine for travelers ...,4 hours ago,https://www.cnbc.com/2022/08/08/hong-kong-redu...
3,This 41-year-old left the U.S. for Bangkok and...,Not available,https://www.cnbc.com/2022/08/06/this-digital-n...
4,"Senate passes sweeping climate, health and tax...",Not available,https://www.cnbc.com/2022/08/07/senate-passes-...
5,Most of Warren Buffett's equity portfolio is t...,Not available,/pro/
6,Baidu's robotaxis don't need any human staff i...,3 hours ago,https://www.cnbc.com/2022/08/08/baidus-robotax...
7,China announces fresh military drills around T...,Not available,https://www.cnbc.com/2022/08/08/china-announce...
8,Dubai wants to become a global tech hub – and ...,Not available,https://www.cnbc.com/video/2022/08/08/dubai-is...
9,Siemens Energy warns of deeper net loss over R...,Not available,https://www.cnbc.com/2022/08/08/siemens-energy...
10,"Never read vacation emails, keep your return d...",Not available,https://www.cnbc.com/2022/08/07/9-busy-people-...
11,Covid lockdown turns Chinese tourist hotspot S...,Not available,https://www.cnbc.com/2022/08/08/covid-lockdown...
12,Potential curb on Australian LNG exports is an...,Not available,https://www.cnbc.com/2022/08/07/potential-curb...
13,"China defends ditching U.S. talks, says Washin...",Not available,https://www.cnbc.com/2022/08/08/china-defends-...
14,Macao returns to mass Covid testing after case...,Not available,https://www.cnbc.com/2022/08/08/macao-reintrod...
15,This 39-year-old makes $160K/month in passive ...,Not available,https://www.cnbc.com/2022/08/06/this-39-year-o...
16,Celsius withdraws motion to hire CFO back at $...,Not available,https://www.cnbc.com/2022/08/07/celsius-withdr...
17,China's export growth gains steam despite weak...,Not available,https://www.cnbc.com/2022/08/07/chinas-export-...

9. Write a python program to scrape mentioned details from dineout.co.in : i) Restaurant name ii) Cuisine iii) Location iv) Ratingsv) Image URL

In [44]:
dineout_link = "https://www.dineout.co.in/hyderabad-restaurants/welcome-back"

def dineout_restaurants(link):
    dine_site_data = requests.get(link)
    dine_soup = BeautifulSoup(dine_site_data.content , "html.parser")
    scraped_names = dine_soup.find_all('div' , class_ = "restnt-info cursor")
    names = []
    for name in scraped_names:
        name = name.find('a').get_text()
        names.append(name)
    scraped_cuisines = dine_soup.find_all("span" , class_ = "double-line-ellipsis")
    cuisines = []
    for cuisine in scraped_cuisines:
        cuisine = cuisine.find_all('a')
        text = ""
        for a in cuisine:
            text = text + ',' + ' ' +  a.get_text()
        cuisines.append(text[2:])
    scraped_locations = dine_soup.find_all("div" , class_ = "restnt-loc ellipsis")
    locations = []
    for location in scraped_locations:
        location = location.find_all('a')
        text = ""
        for a in location:
            text = text + ',' + ' ' +  a.get_text().strip(',')
        locations.append(text[2:])
    scraped_ratings = dine_soup.find_all("div" , class_ = "restnt-rating rating-4")
    ratings = []
    for rating in scraped_ratings:
        rating = rating.get_text()
        ratings.append(rating)
    scraped_images = dine_soup.find_all("img" , class_ = "no-img")
    images = []
    for image in scraped_images:
        image = image.get("data-src")
        images.append(image)
    images
    dineout_data = pd.DataFrame()
    dineout_data["Restaurant Name"] = names
    dineout_data["Cuisine"] = cuisines
    dineout_data["Location"] = locations
    dineout_data["Ratings"] = ratings
    dineout_data["Image URL"] = images

    return dineout_data

In [45]:
dineout_restaurants(dineout_link)

,Restaurant Name,Cuisine,Location,Ratings,Image URL
0,Krishnapatnam,"Andhra, South Indian, Mughlai","Shreshta Aura, Jubilee Hills, Central West Hyd...",3.9,https://im1.dineout.co.in/images/uploads/resta...
1,Ohri's Jiva,"North Indian, Chinese, Rajasthani, South Indian","White House, Begumpet, Secunderabad",4,https://im1.dineout.co.in/images/uploads/resta...
2,Headquarters,"Chinese, Continental, North Indian","Somajiguda, Central East Hyderabad",4.1,https://im1.dineout.co.in/images/uploads/resta...
3,ABs - Absolute Barbecues,North Indian,"Banjara Hills, Central East Hyderabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Exotica,"North Indian, Chinese, Asian","12th Square Building, Banjara Hills, Central E...",4.4,https://im1.dineout.co.in/images/uploads/resta...
5,Amogham - The Lake View Restaurant,"Chinese, North Indian, Continental, Mughlai","Khairatabad, Central Hyderabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
6,Barbeque Nation,"North Indian, Chinese","ANR Center, Banjara Hills, Central East Hyderabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
7,10 Downing Street,"Finger Food, Chinese, Continental, North Indian","Lifestyle Building, Begumpet, Secunderabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,By The Bay - Bar Exchange,"North Indian, Continental, Chinese","Khairatabad, Central Hyderabad",4.1,https://im1.dineout.co.in/images/uploads/resta...
9,ABs - Absolute Barbecues,North Indian,"SD Road, Secunderabad",4.1,https://im1.dineout.co.in/images/uploads/resta...
10,A'La Liberty,"North Indian, Chinese, Mexican","Leela Gopal Towers, Banjara Hills, Central Eas...",4,https://im1.dineout.co.in/images/uploads/resta...
11,Parampara - Flavours of india,"Chinese, North Indian","ANR Center, Banjara Hills, Central East Hyderabad",4,https://im1.dineout.co.in/images/uploads/resta...
12,Bikanervala,"North Indian, Street Food, Fast Food","Banjara Hills, Central East Hyderabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
13,Verandah,"Chinese, North Indian, Continental, Italian","The Park, Somajiguda, Central East Hyderabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
14,Cream Stone,"Desserts, Beverages","The Platinum Hotel, Himayath Nagar, Central Hy...",4.3,https://im1.dineout.co.in/images/uploads/resta...
15,Krishnapatnam,"South Indian, Andhra, Mughlai","Forum Sujana Mall, Kukatpally, West Hyderabad",3.7,https://im1.dineout.co.in/images/uploads/resta...
16,Pizza Hut,"Pizza, Fast Food","The Grand Building, Somajiguda, Central East H...",4.4,https://im1.dineout.co.in/images/uploads/resta...
17,Seven Spices,"Andhra, Biryani","Somajiguda, Central East Hyderabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
18,Hashi Izakaya - Asian Bar & Kitchen,"Chinese, Thai, Japanese","Country Club Complex, Begumpet, Secunderabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
19,Hard Rock Cafe,"Continental, American, Fast Food","GVK One Mall, Banjara Hills, Central East Hyde...",4.3,https://im1.dineout.co.in/images/uploads/resta...
20,Eagles Pizza,"Pizza, Fast Food","Ohud Building, Somajiguda, Central East Hyderabad",3.9,https://im1.dineout.co.in/images/uploads/resta...

10. Write a python program to scrape the details of top publications from Google Scholar? i) Rank ii) Publicationiii) h5-index iv) h5-median

In [46]:
google_link = "https://scholar.google.com/citations?view_op=top_venues&hl=en"

def google_publications(link):
    google_site_data = requests.get(link)
    google_soup = BeautifulSoup(google_site_data.content , "html.parser")

    scraped_ranks = google_soup.find_all("td" , class_ = "gsc_mvt_p")
    scraped_publication = google_soup.find_all("td" , class_ = "gsc_mvt_t")
    scraped_index = google_soup.find_all("a" , class_ = "gs_ibl gsc_mp_anchor")
    scraped_median = google_soup.find_all("span" , class_ = "gs_ibl gsc_mp_anchor")
    publications = []
    ranks = []
    indexs = []
    medians = []
    for rank in scraped_ranks:
        rank = rank.get_text()
        ranks.append(rank)
    for publication in scraped_publication:
        publication = publication.get_text()
        publications.append(publication)
    for index in scraped_index:
        index = index.get_text()
        indexs.append(index)
    for median in scraped_median:
        median = median.get_text()
        medians.append(median)
    google_data = pd.DataFrame()
    google_data["Rank"] = ranks
    google_data["Publication"] = publications
    google_data["H5-index"] = indexs
    google_data["H5-median"] = medians

    return google_data

In [47]:
google_publications(google_link)

    Rank                                        Publication H5-index H5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]

# 5). a)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [106]:
team_men_link = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
batting_men_link = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
bowling_men_link = "https://www.icc-cricket.com/rankings/mens/player-rankings"



def top_10_odi_teams_men(link) : 
    site_data_team_men = requests.get(link)

    soup_team_men = BeautifulSoup(site_data_team_men.content, "html.parser")

    scraped_teams_men = soup_team_men.find_all("span" , class_ = "u-hide-phablet")

    teams_men = []
    for team in scraped_teams_men:
        team = team.get_text()
        teams_men.append(team)

    scraped_team_men_matches = soup_team_men.find_all("td" , class_ = "table-body__cell u-center-text" )

    matches_men =  []
    matches_men.append('15')

    for match in scraped_team_men_matches:
        if scraped_team_men_matches.index(match) % 2  == 0 :
            match = match.get_text()
            matches_men.append(match)

    points_men =  []
    points_men.append('1913')

    for match in scraped_team_men_matches:
        if scraped_team_men_matches.index(match) % 2  == 1 :
            match = match.get_text()
            points_men.append(match)

    ratings_men =  []
    ratings_men.append('128')

    scraped_team_men_ratings = soup_team_men.find_all("td" , class_ = "table-body__cell u-text-right rating" )

    for rating in scraped_team_men_ratings:
        rating = rating.get_text()
        ratings_men.append(rating)

    data = pd.DataFrame()

    data["Team"] = teams_men
    data["Matches"] = matches_men
    data['Points'] = points_men
    data["Rating"] = ratings_men

    top_10_odi_teams_men = data[0:11]

    return (top_10_odi_teams_men)

In [107]:
top_10_odi_teams_men(team_men_link)

            Team Matches Points Rating
0    New Zealand      15   1913    128
1        England      27  3,226    119
2          India      28  3,085    110
3       Pakistan      19  2,005    106
4      Australia      23  2,325    101
5   South Africa      21  2,111    101
6     Bangladesh      27  2,639     98
7      Sri Lanka      29  2,658     92
8    West Indies      38  2,621     69
9    Afghanistan      18  1,238     69
10       Ireland      23  1,214     53

  5. b) Top 10 ODI Batsmen along with the records of their team and rating.

In [ ]:
def top_odi_batsmen(link):

    site_data_5b = requests.get(link)

    soup_5b = BeautifulSoup(site_data_5b.content ,"html.parser" )

    players = []
    teams = []
    ratings = []

    top_player = soup_5b.find("div" , class_ = "rankings-block__banner--name-large")
    players.append(top_player.get_text())

    top_team = soup_5b.find("div" , class_ = "rankings-block__banner--nationality")
    teams.append(top_team.get_text().strip())

    top_rating = soup_5b.find("div" , class_ = "rankings-block__banner--rating")
    ratings.append(top_rating.get_text())

    scraped_players_5b = soup_5b.find_all("td" , class_ = "table-body__cell rankings-table__name name" )

    for player in scraped_players_5b:
        player = player.get_text().strip()
        players.append(player)

    scraped_teams_5b = soup_5b.find_all("span" , class_ = "table-body__logo-text" )

    for team in scraped_teams_5b:
        team = team.get_text().strip()
        teams.append(team)

    scraped_ratings_5b = soup_5b.find_all("td" , class_ = "table-body__cell rating" )

    for rating in scraped_ratings_5b:
        rating = rating.get_text().strip()
        ratings.append(rating)

    data_5b = pd.DataFrame()
    data_5b["Player"] = players
    data_5b["team"] = teams
    data_5b["Rating"] = ratings
    top_odi_batsmen = data_5b[:10]
    
    
    return top_odi_batsmen

In [109]:
top_odi_batsmen(batting_men_link)

                  Player team Rating
0             Babar Azam  PAK    892
1            Imam-ul-Haq  PAK    815
2  Rassie van der Dussen   SA    789
3        Quinton de Kock   SA    784
4            Virat Kohli  IND    767
5           Rohit Sharma  IND    763
6            Ross Taylor   NZ    744
7           David Warner  AUS    737
8         Jonny Bairstow  ENG    732
9            Aaron Finch  AUS    715

 # 5. c)Top 10 ODI bowlers along with the records of their team and rating

In [116]:


def top_odi_bowlers(link):

    site_data_5c = requests.get(link)

    soup_5c = BeautifulSoup(site_data_5c.content ,"html.parser" )

    players_5c = []
    teams_5c = []
    ratings_5c = []

    top_player_5c = soup_5c.find("div" , class_ = "rankings-block__banner--name-large")
    players_5c.append(top_player_5c.get_text())

    top_team_5c = soup_5c.find("div" , class_ = "rankings-block__banner--nationality")
    teams_5c.append(top_team_5c.get_text().strip())

    top_rating_5c = soup_5c.find("div" , class_ = "rankings-block__banner--rating")
    ratings_5c.append(top_rating_5c.get_text())

    scraped_players_5c = soup_5c.find_all("td" , class_ = "table-body__cell rankings-table__name name" )

    for player in scraped_players_5c:
        player = player.get_text().strip()
        players_5c.append(player)

        
    scraped_teams_5c = soup_5c.find_all("td" , class_ = "table-body__cell nationality-logo rankings-table__team" )

    for team in scraped_teams_5c:
        team = team.get_text().strip()
        teams_5c.append(team)


    scraped_ratings_5c = soup_5c.find_all("td" , class_ = "table-body__cell rating" )

    for rating in scraped_ratings_5c:
        rating = rating.get_text().strip()
        ratings_5c.append(rating)

    data_5c = pd.DataFrame()

    data_5c["Player"] = players_5c
    data_5c["team"] = teams_5c
    data_5c["Rating"] = ratings_5c

    top_odi_bowlers = data_5c[:10]
    
    return top_odi_bowlers

In [118]:
top_odi_bowlers(bowling_men_link)

AttributeError: 'NoneType' object has no attribute 'get_text'

# 6.a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [120]:
team_women_link = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
batting_women_link = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
bowling_women_link = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling"

In [121]:
top_10_odi_teams_men(team_women_link)

            Team Matches Points Rating
0      Australia      15   1913    128
1        England      33  4,046    123
2   South Africa      35  4,157    119
3          India      32  3,219    101
4    New Zealand      31  3,019     97
5    West Indies      30  2,768     92
6     Bangladesh      12    930     78
7       Pakistan      30  1,962     65
8      Sri Lanka      11    495     45
9        Ireland       8    351     44
10      Zimbabwe       8      0      0

In [ ]:
 # 6).b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [123]:
top_odi_batsmen(batting_women_link)

                Player team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2       Natalie Sciver  ENG    747
3      Laura Wolvaardt   SA    732
4          Meg Lanning  AUS    710
5       Rachael Haynes  AUS    701
6    Amy Satterthwaite   NZ    681
7       Tammy Beaumont  ENG    667
8  Chamari Athapaththu   SL    655
9      Smriti Mandhana  IND    649

In [ ]:
# 6) c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [124]:
top_odi_bowlers(bowling_women_link)

                Player team Rating
0    Sophie Ecclestone  ENG    761
1        Jess Jonassen  AUS    725
2         Megan Schutt  AUS    722
3       Shabnim Ismail   SA    722
4       Jhulan Goswami  IND    644
5       Ayabonga Khaka   SA    634
6  Rajeshwari Gayakwad  IND    613
7      Hayley Matthews   WI    612
8      Katherine Brunt  ENG    601
9       Marizanne Kapp   SA    598